@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    background-color: #131720 !important;
}

/* width */
::-webkit-scrollbar {
    width: auto;
}

/* track */
::-webkit-scrollbar-track {
    background: #151f30; 
}

/* handle */
::-webkit-scrollbar-thumb {
    background: #2f80ed; 
}

/* navbar */
.navbar .container {
    padding: 0 40px;
}

.logo a {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}

.logo a span {
    color: #2f80ed;
}

.logo a:hover {
    color: #fff;
}

/* nav items */
.nav-item {
    padding: 31.5px;
}

.nav-item .nav-link {
    padding: 0 !important;
    font-size: 14px;
    color: #fff;
    transition: all, 0.5s;
}

.nav-item .nav-link:hover {
    color: #2f80ed;
}

.nav-item .nav-link:hover .dot {
    background-color: #2f80ed;
}

@media only screen and (max-width: 1200px) {
    .nav-item {
        display: none;
    }
}

.dot {
    height: 4px;
    width: 4px;
    margin-bottom: 2px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
    transition: all, 0.5s;
}

#live {
    margin-bottom: 3px;
    background-color: #EB5757;
}

#more {
    margin-right: 2px;
}

/* nav action */
.nav__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__form {
    display: flex;
    margin-right: 65px;
    position: relative;
    align-items: center;
}

.nav__search {
    padding: 10px 60px 10px 20px;
    height: 40px;
    width: 250px;
    outline: none;
    font-size: 14px;
    color: #fff;
    border-style: none;
    border-radius: 16px;
    background-color: #151f30;
}

::placeholder {
    color: #e0e0e0;
    opacity: 1;
}

.nav__action-btn {
    border-style: none;
    height: fit-content;
}

.nav__action-btn i {
    color: #2f80ed;
    transition: all, 0.5s;
}

.nav__form .nav__action-btn {
    position: absolute;
    right: 22.5px;
    background-color: transparent;
}

.nav__form .nav__action-btn:hover i {
    color: #fff;
}

.nav__login .nav-link {
    font-size: 14px;
    color: #fff;
    transition: all, 0.5s;
    cursor: pointer;
}

.nav__login .nav-link:hover {
    color: #2f80ed;
}

.dropdown .dropdown-menu {
    padding: 20px;
    margin-left: 10px;
    border: none;
    border-radius: 16px;
    background-color: #151f30;
}

.dropdown-active {
    color: #2f80ed !important;
}

.dropdown-menu li {
    margin: 0 0 15px;
}

.dropdown-menu li:last-child {
    margin: 0;
}

.dropdown-menu li .dropdown-item {
    padding: 0;
    font-size: 14px;
    color: #fff;
    transition: all, 0.5s;
}

.dropdown-menu li .dropdown-item:hover {
    color: #2f80ed;
    background-color: #151f30;
}

.dropdown-divider {
    border-top: 1px solid rgba(47,128,237,0.1) !important;
}

@media only screen and (min-width: 501px) and (max-width: 1200px) {
    .navbar {
        height: 100px;
    }
}

@media only screen and (max-width: 500px) {  
    .navbar {
        height: 70px;
    }
    
    .nav__search {
        display: none;
    }

    .nav__form .nav__action-btn {
        right: 0;
    }
}

/* sign section */
.signin, .signup, .forgot {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.25);
    z-index: 999;
}

.sign__content {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sign__form {
    width: 400px;
    padding: 40px 40px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid #151f30;
    background-color: #131720;
}

.sign__exit, .sign__back {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 20px;
    width: 20px;
    font-size: 16px;
    color: #1da1f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: all, 0.5s;
    cursor: pointer;
}

.sign__back {
    left: 15px;
    right: unset;
}

.sign__exit:hover, .sign__back:hover {
    color: #fff;
}

.sign__logo {
    margin-bottom: 35px;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.sign__logo span {
    color: #2f80ed;
}

.sign__logo:hover {
    color: #fff;
}

.sign__group, .form__group {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.sign__input, .form__input {
    padding: 10px 20px;
    height: 45px;
    width: 100%;
    color: #fff;
    outline: none;
    font-size: 14px;
    border-radius: 16px;
    background-color: #151f30;
    border: 1px solid transparent;
    transition: all, 0.5s;
}

::placeholder {
    color: #fff;
    opacity: 1;
}

.sign__input:focus, .form__input:focus {
    border: 1px solid #2f80ed;
}

#remember, #agree {
    height: 15px;
    width: 15px;
    margin: 0 15px 0 2.5px !important;
    background: #555;
    cursor: pointer;
}

.sign__group label {
    color: #e0e0e0;
    font-size: 14px;
    cursor: pointer;
}

.sign__button, .form__button {
    margin: 15px 0 10px;
    display: flex;
    height: 50px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    border-style: none;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #2f80ed;
    transition: all, 0.5s;
}

.sign__button:hover, .form__button:hover {
    color: #131720;
    background-color: #fff;
}

.sign__delimiter {
    color: #e0e0e0;
    font-size: 15px;
}

.sign__social {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign__social a {
    margin: 10px 0 15px;
    height: 45px;
    width: 95px;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 16px;
    background-color: #151f30;
}

.sign__social a.fb {
    font-size: 18px !important;
    background-color: #3b5999 !important;
    transition: all, 0.5s;
}

.sign__social a.tw {
    background-color: #1da1f2 !important;
    transition: all, 0.5s;
}

.sign__social a.gl {
    background-color: #df4a32 !important;
    transition: all, 0.5s;
}

.sign__social a.fb:hover {
    color: #3b5999 !important;
    background-color: #fff !important;
}

.sign__social a.tw:hover {
    color: #1da1f2 !important;
    background-color: #fff !important;
}

.sign__social a.gl:hover {
    color: #df4a32 !important;
    background-color: #fff !important;
}

.sign__text {
    margin-top: 15px;
    color: #e0e0e0;
    font-size: 14px;
}

.sign__text-forgot {
    margin-top: 20px;
}

.sign__text span, .sign__privacy {
    color: #2f80ed;
    cursor: pointer;
    text-decoration: none;
}

.sign__text span:hover, .sign__privacy:hover {
    color: #2f80ed;
    text-decoration: underline;
}

select {
    appearance: none;
    cursor: pointer;
}

/* hero section */
.hero {
    overflow: hidden;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__card {
    margin: 0 15px;
}

.hero__cover {
    height: 330px;
    width: 412px;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
}

.hero__cover:before {
    height: 100%;
    width: 100%;
    opacity: 0.65;
    content: '';
    display: block;
    position: absolute;
    transition: all, 0.5s;
    background: linear-gradient(rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.8) 75%, rgba(0,0,0,0.9) 100%);
    z-index: 1;
}

.hero__card:hover .hero__cover:before {
    opacity: unset;
    transition: all, 0.5s;
}

.hero__image {
    height: 100%;
    width: 100%;
    transition: all, 0.5s;
    z-index: 0;
}

.hero__cover:hover .hero__image {
    transform: scale(1.075);
}

.hero__save {
    display: flex;
    position: absolute;
    opacity: 0;
    top: 32.5px;
    left: 35px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    border-style: none;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: #151f30;
    transition: all, 0.5s;
    z-index: 2;
}

.hero__save i {
    color: #2f80ed;
    transition: all, 0.5s;
}

.hero__save:hover i {
    color: #ffc312;
}

.hero__cover:hover .hero__save {
    opacity: unset;
    transform: scale(1.2);
}

.hero__rate {
    display: flex;
    position: absolute;
    opacity: 0;
    top: 32.5px;
    right: 35px;
    height: 25px;
    width: auto;
    color: #fff;
    padding: 0 8px;
    font-size: 12px;
    border-radius: 8px;
    align-items: center;
    background-color: rgba(21,31,48,0.75);
    transition: all, 0.5s;
    pointer-events: none;
    z-index: 2;
}

.hero__rate i {
    color: #2f80ed;
    margin-right: 5px;
}

.hero__card:hover .hero__rate {
    opacity: unset;
    transform: scale(1.2);
}

.hero__details {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 26.5px 30px;
    pointer-events: none;
    z-index: 2;
}

.hero__title {
    font-family: 'Rubik', sans-serif;
    color: #fff !important;
    margin-bottom: 9px;
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all, 0.5s;
}

.hero__card:hover .hero__title {
    color: #2f80ed !important;
}

.hero__label {
    margin: 0;
    padding: 0;
    cursor: default;
}

.hero__label li {
    margin-right: 15px;
    color: #e0e0e0;
    font-size: 14px;
    display: inline;
    cursor: default;
}

/* catalog section */
.catalog {
    padding: 60px 0 80px;
    background: linear-gradient(rgba(0,0,0,0), rgba(21,31,48,0.35));
}

/* catalog nav */
.catalog__header {
    top: -1px;
    z-index: 99;
    position: sticky;
    background-color: #131720;
    border-radius: 0 0 16px 16px;
}

.catalog__navbar {
    display: flex;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
    background-color: #151f30;
}

.catalog__select {
    display: flex;
    align-items: center;
}

.genre, .year {
    color: #fff;
    margin-right: 32.5px;
    font-size: 14px;
    border: none;
    background: none;
    transition: all, 0.5s;
    cursor: pointer;
}

.genre:hover, .year:hover {
    color: #2f80ed;
}

.angle-down i {
    font-size: 10px;
    color: #fff;
}

.catalog__tabs {
    display: flex;
    border-radius: 16px;
    background-color: rgba(19,23,32,0.9);
}

.catalog__tabs button {
    display: flex;
    height: 30px;
    margin: 5px 5px;
    padding: 0 10px;
    font-size: 14px;
    color: #fff;
    border-style: none;
    border-radius: 12px;
    transition: all, 0.5s;
    align-items: center;
    background: none;
    cursor: pointer;
}

.catalog__tabs button:hover {
    color: #2f80ed;
}

.checked__tabs {
    color: #2f80ed !important;
    background: #151f30 !important;
}

@media only screen and (max-width: 768px) {
    .catalog__navbar {
        display: block;
    }

    .catalog__tabs {
        width: 100%;
        margin-top: 15px;
    }
}

/* catalog grid */
.row--grid {
    margin: 0 -15px !important;
    position: relative;
}

.col--grid {
    padding: 0 15px !important;
}

.col--grid .card {
    margin-top: 30px;
    background: none;
    border-style: none;
}

.catalog__content {
    display: none;
}

.show__content {
    display: unset;
}

.card__cover {
    display: flex;
    height: 270px;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}

.card__cover:before {
    height: 100%;
    width: 100%;
    opacity: 0;
    content: '';
    display: block;
    position: absolute;
    transition: all, 0.5s;
    background: linear-gradient(rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,0.6) 100%);
    z-index: 1;
}

.card:hover .card__cover:before {
    opacity: unset;
    transition: all, 0.5s;
}

.card__image {
    height: 100%;
    width: 100%;
    transition: all, 0.5s;
    z-index: 0;
}

.card__button {
    opacity: 0;
    height: 45px;
    width: 45px;
    color: #fff;
    position: absolute;
    transition: all, 0.5s;
    z-index: 2;
}

.card:hover .card__image {
    filter: blur(5px);
    transform: scale(1.05);
}

.card:hover .card__button {
    opacity: unset;
    transform: scale(1.2);
}

.card__save {
    display: flex;
    position: absolute;
    opacity: 0;
    top: 17.5px;
    left: 17.5px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    border-style: none;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: #151f30;
    transition: all, 0.5s;
    z-index: 2;
}

.card__save i {
    color: #2f80ed;
    transition: all, 0.5s;
}

.card__save:hover i {
    color: #ffc312;
}

.card__watchlist i {
    color: #ffc312;
}

.card:hover .card__save {
    opacity: unset;
    transform: scale(1.2);
}

.card__rate {
    display: flex;
    position: absolute;
    opacity: 0;
    top: 17.5px;
    right: 17.5px;
    height: 25px;
    width: auto;
    color: #fff;
    padding: 0 8px;
    font-size: 12px;
    border-radius: 8px;
    align-items: center;
    background-color: rgba(21,31,48,0.75);
    transition: all, 0.5s;
    pointer-events: none;
    z-index: 2;
}

.card__rate i {
    color: #2f80ed;
    margin-right: 5px;
}

.card:hover .card__rate {
    opacity: unset;
    transform: scale(1.2);
}

.card__title {
    margin: 17px 0 3px;
    display: inherit;
}

.card__title a {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all, 0.5s;
}

.card:hover .card__title a {
    color: #2f80ed;
}

.card__label {
    margin: 0;
    padding: 0;
    cursor: default;
}

.card__label li {
    margin-right: 10px;
    color: #e0e0e0;
    font-size: 12px;
    display: inline;
    cursor: default;
}

/* catalog more */
.catalog__more {
    margin: 55px auto 0;
    display: flex;
    height: 60px;
    width: 180px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-style: none;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #151f30;
    transition: all, 0.5s;
}

.catalog__more:hover {
    background-color: #2f80ed;
}

/* subscription section */
.subscription {
    padding: 80px 0;
}

.subscription--plan {
    padding-top: 0;
}

.subs__title {
    margin-bottom: 10px;
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    transition: all, 0.5s;
}

.subs__text {
    margin-bottom: 10px;
    font-size: 18px;
    color: #e0e0e0;
}

.subs__button {
    height: 50px;
    width: 50px !important;
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
    border: none;
    border-radius: 50%;
    transform: translateY(-90%);
    background-color: #151f30;
    transition: all, 0.5s;
}

.subs__button:hover {
    background-color: #2f80ed;
}

.subs__button-left {
    left: -65px;
}

.subs__button-right {
    right: -65px !important;
}

@media only screen and (max-width: 1475px) {
    .subs__button {
        display: none;
    }
}

.card__button-subs {
    height: 50px;
    width: 45px;
}

.card__title-subs {
    margin-bottom: 5px;
}

.card__title-subs, .card__label-subs {
    margin-left: auto;
    margin-right: auto;
}

.card__label-subs li {
    margin: auto;
}

.container .row--grid {
    margin: 0 -15px;
}

.plan {
    margin: 30px 0 0;
    padding: 30px 30px;
    border-radius: 16px;
    background-color: #151f30;
}

.plan__title {
    border-bottom: 1px solid rgba(47,128,237,0.1);
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
}

.plan__list {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #e0e0e0;
}

.plan__list .fa-check {
    color: #29b474;
    font-size: 10px;
    margin-right: 10px;
}

.plan__list .fa-xmark {
    color: #eb5757;
    opacity: .75;
    font-size: 14px;
    margin-left: 0.75px;
    margin-right: 10.75px;
}

.plan__list li {
    display: block;
    margin-bottom: 15px;
}

.plan__list li:last-child {
    margin-bottom: 0;
}

.plan__price {
    border-top: 1px solid rgba(47,128,237,0.1);
    font-family: 'Rubik', sans-serif;
    padding-top: 12.5px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 33px;
    display: block;
    color: #fff;
}

.plan__price span {
    font-size: 16px;
}

.plan__button {
    display: flex;
    margin-top: 17.5px;
    height: 60px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-style: none;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #131720;
    transition: all, 0.5s;
}

.plan__button:hover {
    background-color: #2f80ed;
}

.plan--best {
    background-color: rgba(47,128,237,0.8);
}

.plan--best .plan__title, .plan--best .plan__price {
    border-color: rgba(21,31,48,0.2);
}

.plan--best .plan__list {
    color: #fff;
}

.plan--best .plan__button {
    background-color: #151f30;
}

.plan--best .plan__button:hover {
    color: #151f30;
    background-color: #fff;
}

/* footer section */
.footer {
    padding: 45px 0 0;
    background: linear-gradient(rgba(21,31,48,0.35), #131720);
}

.footer__logo {
    margin: 30px 0 -2.5px;
}

.footer__tagline {
    margin: 20px 0;
    font-size: 13px;
    color: #e0e0e0;
    line-height: 1.7;
}

.footer__social a {
    margin-right: 15px;
}

.footer__social img {
    height: 30px;
}

.footer__title {
    margin: 40px 0 17.5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.footer__nav a {
    font-size: 14px;
    color: #e0e0e0;
    margin-bottom: 10px;
    text-decoration: none;
    transition: all, 0.5s;
}

.footer__nav a:last-child {
    margin-bottom: 0;
}

.footer__nav a:hover {
    color: #2f80ed;
}

.footer__content {
    display: flex;
    margin: 80px 0 0;
    padding: 37.5px 0 40px;
    justify-content: space-between;
    border-top: 1px solid rgba(47,128,237,0.1);
}

.footer__copyright span {
    font-size: 13px;
    color: #e0e0e0;
}

.footer__link {
    cursor: default;
}

.footer__link a {
    font-size: 14px;
    color: #e0e0e0;
    margin-right: 25px;
    text-decoration: none;
    transition: all, 0.5s;
}

.footer__link a:last-child {
    margin-right: 0;
}

.footer__link a:hover {
    color: #2f80ed;
}

@media only screen and (max-width: 768px) {
    .footer__content {
        display: unset;
    }
}

/* title section */
.section {
    padding: 60px 0 0;
    border-top: 1px solid #151f30;
}

.section__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__title {
    margin: 0;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 38px;
}

.section__nav {
    color: #fff;
    cursor: default;
}

.section__nav a, .section__nav span {
    margin: 0 5px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    transition: all, 0.5s;
}

.section__nav a:hover {
    color: #2f80ed;
}

.section__nav span {
    color: #e0e0e0;
    margin-right: 0;
}

/* details section */
#navbar__details {
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: #131720;
    transition: top 0.5s;
    z-index: 999;
}

.details {
    margin-top: 100px;
    padding: 60px 0 0;
    border-top: 1px solid #151f30;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0),  rgba(0,0,0,0));
}

.details__header {
    display: flex;
    flex-direction: column;
}

.details__title {
    margin-bottom: 15px;
    font-size: 36px;
    color: #e0e0e0;
}

.details__label {
    margin: 0 0 30px;
    padding: 0;
}

.details__label li {
    float: left;
    margin: 0 10px;
    font-size: 16px;
    display: inline;
    color: #e0e0e0;
}

.details__label li i {
    color: #2f80ed;
}

.details__label li:first-child {
    margin-left: 0;
}

#label {
    margin-bottom: 4px;
    background-color: #2f80ed;
}

.details__desc {
    margin: 0;
    font-size: 16px;
    color: #e0e0e0;
    line-height: 1.6;
}

.details__video {
    padding: 35px 0 60px;
    border-bottom: 1px solid rgba(47,128,237,0.1);
}

.details__button {
    display: flex;
}

.details__button .plan__button {
    margin: 0 30px 30px 0;
    width: 200px;
}

.details__button .plan__button:first-child {
    color: #fff;
    background-color: #2f80ed;
}

.details__button .plan__button:last-child {
    color: #131720;
    background-color: #fff;
}

.details__button .plan__button:first-child:hover {
    color: #131720;
    background-color: #fff;
}

.details__button .plan__button:last-child:hover {
    color: #fff;
    background-color: #151f30;
}

.video__cover {
    height: 460px;
    width: 100%;
}

.video__cover iframe {
    border-radius: 16px;
}

.video__action {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.video__download, .video__save {
    font-size: 14px;
    color: #e0e0e0;
    display: flex;
    align-items: center;
}

.video__download i {
    margin-right: 7.5px;
    font-size: 16px;
    color: #2f80ed;
}

.video__download a {
    padding-right: 10px;
    margin-left: 10px;
    color: #fff;
    border-right: 1px solid rgba(47,128,237,0.1);
    text-decoration: none;
    transition: all, 0.5s;
}

.video__download a:last-child {
    border: none;
}

.video__download a:hover {
    color: #2f80ed;
}

.video__save button {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #e0e0e0;
    border: none;
    background: none;
}

.video__save button i {
    margin-right: 10px;
    font-size: 16px;
    color: #2f80ed;
    transition: all, 0.5s;
}

.video__save button:hover i {
    color: #ffc312;
}

/* comment section */
.comment {
    padding: 50px 0 0;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgba(21,31,48,0.35));
}

.comment__title {
    display: flex;
}

.comment__title button {
    color: #fff;
    font-size: 24px;
    margin-right: 35px;
    opacity: .5;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    transition: all, 0.5s;
}

.comment__title button:hover {
    opacity: 1 !important;
}

.comment__title button span {
    height: 20px;
    min-width: 20px;
    padding: 0 5px;
    margin-left: 10px;
    border-radius: 6px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f80ed;
}

.title__active {
    opacity: 1 !important;
}

.review__content {
    display: none;
}

.comment__item, .review__item {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    border-radius: 16px;
    background-color: #151f30;
}

.comment__author {
    position: relative;
    margin-bottom: 20px;
    padding: 0 0 20px 55px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(47,128,237,0.1);
}

.comment__avatar {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.comment__name {
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
}

.comment__date {
    color: #e0e0e0;
    font-size: 12px;
}

.comment__rate {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 14px;
    color: #fff;
}

.comment__text {
    margin: 0;
    color: #e0e0e0;
    font-size: 16px;
}

.comment__form {
    margin: 60px 0 60px;
    padding: 20px;
    width: 100%;
    border-radius: 16px;
    background-color: #131720;
    border: 1px solid rgba(47,128,237,0.1);
}

.form__textarea {
    padding: 15px 20px;
    height: 144px;
    width: 100%;
    font-size: 14px;
    color: #e0e0e0;
    outline: none;
    resize: none;
    border: none;
    border-radius: 16px;
    border: 1px solid transparent;
    background-color: #151f30;
    transition: all, 0.5s;
}

.form__textarea:focus {
    border: 1px solid #2f80ed;
}

.form__button {
    margin: 0;
    width: 180px;
}

/* sidebar */
.sidebar {
    height: 100%;
    width: 280px;
    position: fixed;
    background-color: #131720;
    border-right: 1px solid rgba(47,128,237,0.1);
    z-index: 999;
}

.sidebar__logo {
    height: 80px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: #e0e0e0;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rgba(47,128,237,0.1);
}

.sidebar__logo span {
    color: #2f80ed;
}

.sidebar__logo:hover {
    color: #e0e0e0;
}

.sidebar__user {
    padding: 20px 30px 21px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(47,128,237,0.1);
}

.sidebar__avatar {
    position: absolute;
    top: 20px;
    left: 30px;
    border-radius: 10px;
}

.sidebar__user span,
.sidebar__user p {
    margin: 0 55px 0;
}

.sidebar__user span {
    color: #e0e0e0;
    font-size: 10px;
    line-height: 2;
}

.sidebar__user p {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
}

.sidebar__user-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 10px;
    background-color: #151f30;
    transition: all, 0.5s;
}

.sidebar__user-btn i {
    color: #2f80ed;
    transition: all, 0.5s;
}

.sidebar__user-btn:hover {
    background-color: #fff;
}

.sidebar__user-btn:hover i {
    color: #151f30;
}

.sidebar__nav {
    padding: 30px 30px;
}

.sidebar__nav-content {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar__nav-item {
    margin-left: 2.5px;
    margin-bottom: 21px;
    width: fit-content;
}

.sidebar__nav-item a {
    font-family: 'Rubik', sans-serif;
    color: #e0e0e0;
    text-decoration: none;
    transition: all, 0.5s;
}

.sidebar__nav-item a i {
    transition: all, 0.5s;
}

.sidebar__nav-item:hover a, .sidebar__nav-item:hover a i {
    color: #2f80ed !important;
}

.sidebar__nav-item:hover a i {
    -webkit-text-stroke: 1.5px #2f80ed;
}

.sidebar__nav-item i {
    margin-right: 18px;
    font-size: 18px;
    -webkit-text-stroke: 1.5px #fff;
    -webkit-text-fill-color: transparent;
}

.default {
    color: #fff;
    -webkit-text-stroke: unset !important;
    -webkit-text-fill-color: unset !important;
}

.active, .active i {
    color: #2f80ed !important;
    cursor: default;
}

.actives i {-webkit-text-stroke: 1.5px #2f80ed !important;}

.actives .fa-angle-down {-webkit-text-stroke: unset !important;}

.text--green {color: #29b474;}

.fa-house {font-size: 17px !important; margin-right: 16px !important;}

.fa-folder {font-size: 17px !important; margin-left: 1px !important}

.fa-user-group {font-size: 14px !important; margin-left: 0.5px !important;}

.fa-angle-down {font-size: 10px !important;}

.fa-arrow-left {margin-left: 2.5px !important;}

.sidebar__nav-item a .fa-star {font-size: 19px !important; margin: 0 16px 0 -1px !important;}

.sidebar__footer {
    margin: 0;
    padding: 20px 30px;
    position: absolute;
    color: #e0e0e0;
    bottom: 0;
    font-size: 12px;
    line-height: 1.65;
}

/* main */
.main {
    padding: 0 20px 20px 297.5px;
    background-color: #131720;
}

.main--admin {
    padding: 0 20px 30px 297.5px;
}

.main__header {
    margin-bottom: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(47,128,237,0.1);
}

.main__button {
    margin: 0;
    height: 40px;
    width: 140px;
}

.main__admin {margin-bottom: 30px;}

.nav__catalog {margin-right: 20px;}

.nav__admin {margin: 0;}

.form__admin {margin: 0;}

.search__admin {width: 300px;}

.img__input {
    position: relative;
    height: calc(100% - 20px);
    width: 100%;
}

#form__img-label {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #151f30;
    position: relative;
    border-radius: 16px;
    color: #e0e0e0;
    transition: all, 0.5s;
    cursor: pointer;
}

#form__img-label:hover {
    color: #fff;
}

#form__img {
    position: absolute;
    top: 0;
    border-radius: 20px;
    pointer-events: none;
    z-index: 1;
}

.main__header-title {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: #fff;
}

.main__header-title span {
    color: #e0e0e0;
    font-size: 14px;
}

.main__action {
    display: flex;
    align-items: center;
}

.actions__button {
    display: flex;
    align-items: center;
}

.actions__button a {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgba(47,128,237,0.1);
    transition: all, 0.5s;
}

.actions__button a:hover {
    background-color: rgba(47,128,237,0.2);
}

.fa-pen {color: #2f80ed;}

.fa-trash {color: #eb5757;}

.fa-lock {color: #29b474}

.fa-eye {color: #ffc312;}

.a {text-decoration: none;}

.main__table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0 10px;
}

thead tr td {
    padding: 0px 20px;
    color: #e0e0e0;
    font-size: 12px;
    line-height: 32px;
    background-color: none;
}

tbody tr td {
    height: 70px;
    padding: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    background-color: #151f30;
}

tr td:first-child {border-radius: 16px 0 0 16px;}

tr td:last-child {border-radius: 0 16px 16px 0;}

tr td i {
    color: #2f80ed;
    font-size: 13px;
}

.catalog__title {
    color: #fff;
    text-decoration: none;
    transition: all, 0.5s;
}

.catalog__title:hover {
    color: #2f80ed;
}

.user__info {
    padding: 0 20px;
    position: relative;
}

.main__info {
    display: flex;
    align-items: center;
}

.user__avatar {
    border-radius: 12px;
}

.main__info div {
    margin-left: 15px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
}

.main__info div h5 {
    margin: 0;
    width: 100%;
    font-size: 16px;
}

.main__info div span {
    color: rgba(255,255,255,0.7);
    font-size: 14px;
}

.views__text p {
    margin: 0;
    width: 275px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.film__id {width: 65px;}
.film__title {width: 242.5px;}
.film__rating {width: 110px;}
.film__genre {width: 90px;}
.film__category {width: 140px;}
.film__label {width: 110px;}
.film__age {width: 90px;}
.film__date {width: 195px;}

.user__id {width: 65px;}
.user__info {width: 242.5px;}
.user__username {width: 122.5px;}
.user__plan {width: 142.5px;}
.user__comments {width: 127.5px;}
.user__reviews {width: 105px;}
.user__status {width: 120px;}
.user__date {width: 185px;}

.reviews__id {width: 65px;}
.reviews__item {width: 225px;}
.reviews__author {width: 150px;}
.reviews__text {width: 300px;}
.reviews__rating {width: 92.5px}
.reviews__like {width: 135px;}
.reviews__date {width: 142.5px;}

.comments__id {width: 65px;}
.comments__item {width: 225px;}
.comments__author {width: 170px;}
.comments__text {width: 325px;}
.comments__like {width: 140px;}
.comments__date {width: 147.5px;}